h1 {
        color: rgb(219, 215, 215);
        font-family: Jockey One;
        font-size: 70px;
        text-shadow: 4px 4px 5px rgba(0,0,0,0, 0.3);
        text-align: center;
    }
body {
  background-color: 7F9DCA;
  background-size: cover;          
  background-position: center;    
  background-repeat: no-repeat;    
  background-attachment: fixed;    
  height: 100vh;                 
  margin: 0;
}

.elemento-transparente {
  opacity: 0.5; 
}

img {
    display: block; 
     margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: auto; 
    }
.meu-botao {
    background-color: #D5E6FF;
    padding: 18px 180px;
    margin: 5px;
    text-decoration: none;
    display: inline-block; 
    border-radius: 90px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.search-icon {
  background: white;
  border-radius: 50%;
  padding: 8px;
  font-size: 28px;
  color: #333;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
   position: absolute;
  top: 15px;
  right: 15px;
}


.arrow-left {
  position: absolute;
  right: 25px;           
  top: 50%;
  transform: translateY(-50%);
  font-size: 34px;
  color: white;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}
.texto {
    color: white;
    font-size: 28px;
    font-family: Jockey One;
    margin: 40px;
    text-shadow: 3px 3px 4px rgba(0,0,0,0.5);
    line-height: 1.5;
}
