body {
    background-color: #7F9DCA;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container-botao {
    text-align: center;
    margin-top: 20px;
}

.meu-botao {
    background-color: #D5E6FF;
    padding: 18px 180px;
    display: inline-block;
    border-radius: 90px;
    margin: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    color: black;
    font-size: 42px;
    font-weight: bold;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}


.search-icon {
  background: white;
  border-radius: 50%;
  padding: 8px;
  font-size: 28px;
  color: #333;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
   position: absolute;
  top: 15px;
  right: 15px;
}


.arrow-left {
  position: absolute;
  right: 25px;           
  top: 50%;
  transform: translateY(-50%);
  font-size: 34px;
  color: white;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}
.texto {
    color: white;
    font-size: 28px;
    font-family: Jockey One;
    margin: 40px;
    text-shadow: 3px 3px 4px rgba(0,0,0,0.5);
    line-height: 1.5;
}
.texto {
    color: white;
    font-size: 28px;

    margin-left: 90px;
    margin-right: 90px;
    margin-top: 70px;

    line-height: 1.6;

    text-shadow: 3px 3px 4px rgba(0,0,0,0.4);
}
